@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .nav-item {
    @apply rounded-full px-4 py-1.5 text-sm font-semibold text-white/70 transition duration-300 hover:bg-white/10 hover:text-white;
  }
  .hero-ring {
    @apply absolute inset-0 left-1/2 top-1/2 -z-20 -translate-x-1/2 -translate-y-1/2 rounded-full border-2 border-primary shadow-[0_0_80px_inset] shadow-primary/80;
  }
}

.qatar-clip {
  clip-path: ellipse(65% 60% at 45% 20%);
}

.polygon-clip {
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 70.96%,
    2% 72.78%,
    4% 74.52%,
    6% 76.16%,
    8% 77.7%,
    10% 79.15%,
    12% 80.48%,
    14% 81.71%,
    16% 82.83%,
    18% 83.83%,
    20% 84.72%,
    22% 85.49%,
    24% 86.13%,
    26% 86.65%,
    28% 87.05%,
    30% 87.32%,
    32% 87.47%,
    34% 87.49%,
    36% 87.39%,
    38% 87.16%,
    40% 86.8%,
    42% 86.32%,
    44% 85.71%,
    46% 84.99%,
    48% 84.14%,
    50% 83.18%,
    52% 82.1%,
    54% 80.91%,
    56% 79.6%,
    58% 78.2%,
    60% 76.68%,
    62% 75.07%,
    64% 73.37%,
    66% 71.57%,
    68% 69.69%,
    70% 67.73%,
    72% 65.69%,
    74% 63.58%,
    76% 61.4%,
    78% 59.17%,
    80% 56.88%,
    82% 54.54%,
    84% 52.15%,
    86% 49.73%,
    88% 47.28%,
    90% 44.8%,
    92% 42.31%,
    94% 39.8%,
    96% 37.29%,
    98% 34.78%,
    100% 32.27%
  );
}

.mobile-clip {
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 72.98%,
    2% 74.15%,
    4% 75.22%,
    6% 76.19%,
    8% 77.05%,
    10% 77.82%,
    12% 78.47%,
    14% 79%,
    16% 79.43%,
    18% 79.74%,
    20% 79.93%,
    22% 80%,
    24% 79.95%,
    26% 79.79%,
    28% 79.51%,
    30% 79.11%,
    32% 78.6%,
    34% 77.97%,
    36% 77.23%,
    38% 76.39%,
    40% 75.44%,
    42% 74.39%,
    44% 73.25%,
    46% 72.01%,
    48% 70.69%,
    50% 69.28%,
    52% 67.8%,
    54% 66.25%,
    56% 64.64%,
    58% 62.96%,
    60% 61.24%,
    62% 59.47%,
    64% 57.66%,
    66% 55.83%,
    68% 53.97%,
    70% 52.09%,
    72% 50.21%,
    74% 48.33%,
    76% 46.45%,
    78% 44.58%,
    80% 42.74%,
    82% 40.93%,
    84% 39.15%,
    86% 37.42%,
    88% 35.73%,
    90% 34.1%,
    92% 32.54%,
    94% 31.04%,
    96% 29.62%,
    98% 28.27%,
    100% 27.02%
  );
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.bg-custom {
  background-size: cover !important;
  background-position: right bottom !important;
}
